*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-image: linear-gradient(to bottom, #edf7b5, #e8f5a2, #e4f38f, #dff07a, #daee65);
}
h1{
    text-align: center;
    font-size: 3vw;
}
h2{
    text-align: center;
    font-size: 2vw;
    padding-top: 0.5rem;
}
.body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.container{
    margin-top: 2rem;
    height: 60vh;
    width: 55vw;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: center;
}
.boxes{
    height: 40vh;
    width:50vw;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
        gap: 10px;
}
.eachbox{
    background-color: #fdd758;
    border: none;
    box-shadow: 0 0 10 rgba(0 0 0 10);
    border-radius: 10px;
    height: 5rem;
    padding: 1rem;
    width: 15vw;
    font-size: 2rem;
    color: black;
    cursor: pointer;
    }
    .hide{
        display: none;
    }
    .winner{
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }
    .winner button{
        cursor: pointer;
       margin-top: 1rem;
        height: 3rem;
        width: 8.5rem; 
        /* padding: 1rem; */
         font-size: 1rem;
        text-align: center;
        border-radius: 10px;
        font-weight: 700;
         background: linear-gradient(to right,rgb(227, 89, 89),rgb(100, 163, 223));
       /* background-color: rgb(253, 104, 253); */
        border: none;
    }
    /* @media only screen  and (max-width=760px){
        body{
            background-color: red;
        }
    } */
    @media only screen and (max-width: 800px) {
       
        h1{
            font-size: 3rem;
        }
        h2{
            font-size: 2.5rem;
        }
        .container{
           
            
            width: 70vw;
        }
        .boxes{
           
            width: 60vw;
        }
      }